body{
	padding-top: 50px;
}

#link{
	margin-left: 30px;
}
#link_register{
	margin-left: 120px;
}

#user_logoff{
	color:white;
	text-decoration: none;
}


.panel{

	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.col-lg-7{
	margin-left: -18px;
}


#return_dash{
	margin-top: 10px;
}

#description {
	margin-left: 20px;
	margin-right: 20px;

}
#description button{
	margin-top: 15px;
}

#wall_table tr, #wall_table td, #wall_table th{
	border: none;
}

#wall_table th{
	margin: 0;
	width: 120px;
}

.message button{
	margin-top: 10px;
}

.bordered{
	margin: 10px;
	padding: 10px;
	border:1px solid grey;
}

ul{
	list-style-type: none;
}

li{
	display: block;
}

small{
	
	float: right;
}


.bordered1{
	
	    border-bottom: 1px dotted silver;
}

textarea[name=message]{
	background-color: #F5F5F5;	
}

textarea[name=comment]{
	background-color: #F5F5F5;
	margin-top: 10px;	
}


p {
	text-align: justify;
}

#return_dash{
	margin-top: 30px;
}





